.product-only {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.container-product {
  min-width: 300px;
  max-width: 600px;
  height: auto;
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
}

.container-infos {
  min-width: 300px;
  max-width: 600px;
  height: auto;
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
}

.container-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 15px;
}
.product-image {
  width: 50%;
  height: auto; /* A altura será ajustada automaticamente para manter as proporções */
  display: block; /* Remove espaço extra abaixo da imagem devido à exibição inline */
  margin: 0 auto;
}

.contents-product {
  border-top: 1px solid #ddd;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-branch {
  font-size: 30px;
}

.product-price {
  font-size: 30px;
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
}

.product-code {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  margin-bottom: 5px;
}

.product-title {
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  display: block;
  margin-bottom: 5px;
}

.product-extra-title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  margin-bottom: 20px;
}

.product-description {
  font-size: 20PX;
  font-weight: 400;
  display: block;
}

.container-inventories {

}


